<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        
        
        <h1 class="text-center text-primary mb-4"> Registro Empleados</h1>
        
         <p th:if ="${error}"  th:text ="${error}" ></p>
         
<div class="card mx-auto shadow mb-5" style="max-width: 1000px;">
    <div class="card-body">

        <form th:action="@{/empleado/guardar}" th:object="${empleado}" method="post">

            <input type="hidden" th:field="*{idEmpleado}" />

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>ID del puesto:</label>
                    <input class="form-control form-control-sm"
                           type="text"
                           th:field="*{idPuesto}" />
                </div>

                <div class="col-md-6 mb-3">
                    <label>Nombre:</label>
                    <input class="form-control form-control-sm"
                           type="text"
                           th:field="*{nombre}" />
                </div>

                <div class="col-md-6 mb-3">
                    <label>Apellido:</label>
                    <input class="form-control form-control-sm"
                           type="text"
                           th:field="*{apellido}" />
                </div>

                <div class="col-md-6 mb-3">
                    <label>Fecha Contratación:</label>
                    <input class="form-control form-control-sm"
                           type="date"
                           th:field="*{fechaContratacion}" />
                </div>

            </div>

            <button class="btn btn-success" type="submit">
                Guardar
            </button>

        </form>

    </div>
</div>
         
            <div class="table-responsive mx-auto" style="max-width: 1000px;">
         <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>ID del puesto</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                
                <th>Fecha Contratacion</th>
                <th>Acciones</th>
     
            </tr>
            
                <tr th:each="c : ${empleados}">
                <td th:text="${c.idEmpleado}"></td>
                <td th:text="${c.idPuesto}"></td>
                 <td th:text="${c.nombre}"></td>
                 <td th:text="${c.apellido}"></td>
                <td th:text="${c.fechaContratacion}"></td>
                
                <td>
                    <div class="d-flex gap-2">
                    <a class="btn btn-info"
                        th:href="@{empleado/editar/{id} (id=${c.idEmpleado})} ">
                        Editar
                    </a>
                    <form th:action="@{empleado/eliminar/{id} (id=${c.idEmpleado})} " method ="post">
                        <button class="btn btn-danger" 
                                type="submit">
                            Eliminar
                        </button> 
                </form>
                    
                         </div>
                  
                </td>
                
            </tr>
            
        </table>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
